body {
  background-color: $cl-background;
  color: $cl-foreground;
  font-family: $fn-primary;
  font-weight: $fn-weight--regular;
  animation: fadeInPage 500ms ease-in both;
}

a {
  color: $cl-primary;
}

.container {
  width: 100%;
  max-width: $sz-container-max-width;
  padding-left: $sz-container-padding;
  padding-right: $sz-container-padding;
  margin: 0 auto;

  @include max(m) {
    padding-left: $sz-container-padding * .5;
    padding-right: $sz-container-padding * .5;
  }
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
