*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

button,
input,
textarea {
  appearance: none;
  border: 0;
  border-radius: 0;
  background: none;
  font-size: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
