body {
  background-color: $cl-background;
  color: $cl-foreground;
  font-family: $fn-body;
  font-weight: $fn-weight--regular;
}

a {
  color: $cl-primary;
}

.container {
  max-width: $sz-container-max-width;
  padding-left: $sz-container-padding;
  padding-right: $sz-container-padding;
  margin: 0 auto;
}
