$cl-black: #000;
$cl-white: #fff;

$cl-background: #fff;
$cl-foreground: #000;

$cl-primary: #268CF5;

$fn-body: 'Roboto', sans-serif;
$fn-weight--regular: 400;
$fn-weight--medium: 500;
$fn-weight--bold: 700;

$sz-container-max-width: 1152px;
$sz-container-padding: 3.2rem;
