.button {
  position: relative;
  appearance: none;
  display: inline-block;
  padding: 1.2rem 3rem;
  border: 0;
  font-family: $fn-body;
  font-size: 2rem;
  font-weight: $fn-weight--bold;
  line-height: 1.34;
  color: $cl-white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 0 rgba($cl-black, .2);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cl-primary;
    background-image: linear-gradient(90deg, rgba(lighten($cl-primary, 30%), 0), lighten($cl-primary, 30%), rgba(lighten($cl-primary, 30%), 0));
    background-position: 30rem 0;
    background-size: contain;
    background-repeat: no-repeat;
    transform: skewX(-12deg);
    z-index: -1;
    transition: {
      property: background-position, background-color, transform;
      duration: 200ms;
      timing-function: ease-in-out;
    };
  }

  &:hover {
    &::before {
      background-color: lighten($cl-primary, 5%);
      background-position: -20rem 0;
    }
  }
}
